/*Works page*-----------------------------------------------------------------------------------------*/

.works__intro {
    height: 315px;
    background: #f6f6f6;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
}

.worksIntro__title {
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    color: #171717;
    text-align: center;
    margin: 0 15px 24px;
}

.worksIntro__text {
    font-size: 18px;
    max-width: 520px;
    text-align: center;
    line-height: 26px;
    margin: 0 15px;
}